.top-bar{
    background: $nav-bg;
    ul{
        background: $nav-bg;
    }
    .menu-text{
        color: $white;
    }
    .top-bar-right .menu>li>a{
        display: inline-block;
        padding: 0 0 0 5px; 
    }
    .active-link{
        font-weight: bold;
    }
}